<section class="section" id="about">
  <div class="bg-overlay overlay-fix" style="background:  #010108;z-index: -2;"></div>
    <div class="container-fluid" style="padding-left: 5%;padding-right: 5%;">
        <div class="row home-content">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="features-box text-white">
                    <div class="row">
                      <div class="col-auto">
                        <h3 class="maga-bold mb-0">BİZ KİMİZ ?</h3>
                        <hr class="hr w-100 mt-1">
                      </div>
                    </div>
                    <h4 class="common-detail-style mt-4">
                      Biz, Türkiye’de ORFF®-Schulwerk yaklaşımını yeniden yapılandırmak için gönüllü olarak bir araya gelmiş akademisyenler, ORFF®-Schulwerk alanında uzun yıllar eğitim almış ve vermiş müzik
                      eğitimcileriyiz. 2019 Şubat ayında, ORFF®-Schulwerk yaklaşımının Türkiye’deki akıbetiyle ilgili
                      kaygılarımız ortak olduğu için bir araya geldik. ORFF®-Schulwerk´in Türkiye´deki gelişimini Carl Orff Vakfı’nın ortaya koyduğu kriterlere uygun bir biçimde gerçekleştirmek için bilgi, beceri ve
                      deneyimlerimizi birleştirmeye karar verdik. 
                    </h4>
                    <h4 class="common-detail-style mt-5">
                      Aşağıda sıraladığımız ana başlıkların çatısı altında “bir araya gelmenin” Türkiye’deki<br>
                      ORFF®-Schulwerk gelişimi adına önemli olduğunu düşünüyoruz:
                    </h4>
                    <div class="row mt-4">
                      <div class="col-12 ul-group">
                          <ul class="text-muted list-unstyled margin-t-10 features-item-list">
                              <li class="common-detail-style">Orff-Schulwerk felsefesine uygun olan demokratik, şeffaf, bağımsız ve tüzüğü ile
                                korunan bir yapıya duyulan ihtiyaç.
                              </li>
                          </ul>
                      </div>
                      <div class="col-12 ul-group">
                          <ul class="text-muted list-unstyled margin-t-10 features-item-list">
                              <li class="common-detail-style">Orff-Schulwerk alanında eğitim ve danışmanlık hizmetlerini, sorumluluklarını tam anlamıyla yerine getiren bir yapıya duyulan ihtiyaç.
                              </li>
                          </ul>
                      </div>
                      <div class="col-12 ul-group">
                          <ul class="text-muted list-unstyled margin-t-10 features-item-list">
                              <li class="common-detail-style">Orff-Schulwerk alanında bilgi ve deneyim toplamaya yol açan, yön veren, motive eden
                                eğitimlere duyulan ihtiyaç.
                              </li>
                          </ul>
                      </div>
                      <div class="col-12 ul-group">
                          <ul class="text-muted list-unstyled margin-t-10 features-item-list">
                              <li class="common-detail-style">Nitelikli ve uluslararsı standatrlarda çalışmalar yapabilen yeni nesil Orff-Schulwerk
                                eğitimcilerinin sayısının arttırılmasına duyulan ihtiyaç.
                              </li>
                          </ul>
                      </div>
                      <div class="col-12 ul-group">
                          <ul class="text-muted list-unstyled margin-t-10 features-item-list">
                              <li class="common-detail-style">Türkiye’de Orff-Schulwerk alanında çalışan eğitimcilerin, uluslararası alan da kendini ifade etme ve gösterme ihtiyacı.
                              </li>
                          </ul>
                      </div>
                      <div class="col-12 ul-group">
                        <ul class="text-muted list-unstyled margin-t-10 features-item-list">
                            <li class="common-detail-style">
                              Orff-Schulwerk’i kısa süreli eğitimlerin haricinde daha uzun süreli ve sağlam
                              temellere oturtulmuş akademik düzeydeki eğitimler ile öğrenmeye duyulan ihtiyaç.
                            </li>
                        </ul>
                      </div>
                      <div class="col-12 ul-group">
                        <ul class="text-muted list-unstyled margin-t-10 features-item-list">
                            <li class="common-detail-style">Orff-Schulwerk’in global gelişimine bilimsel düzeyde dahil olmaya duyulan ihtiyaç.
                            </li>
                        </ul>
                      </div>
                    </div>
                    <h4 class="common-detail-style mt-4">
                      Tüm bu hedefler ve ihtiyaçlar ışığında planlı ve sistematik şekilde kurguladığımız çalışmaların adım adım hayata
                       geçmesini sağlamaktan gurur duyuyoruz. Biliyoruz ve umuyoruz ki sizlerin de katılımı ve vereceğiniz maddi-manevi destekler
                        ile çalışmalarımızı üst seviyelere taşıyacak gücümüzü arttıracağız.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <img src="/assets/about-us.png" alt="img" class="bg-image">
    <h6 class="fix-to-right">
      Foto: O. Umbher, Archiv: Orff-Zentrum München</h6>
  </section>

  <div class="row text-center d-flex align-items-center pb-3 middle-row">
    <div class="col-12">
      <img class="middle-img" src="/assets/carl-orff.png" alt="img" >
    </div>
  </div>