.bg-image{
    width: 700px;
    position: absolute;
    right: 0;
    bottom: -66px;
    opacity: 1;
    z-index: -1;
}

@media (min-width:991px){
    .home-content{
    }
}
.hr{
    width: 185px;
    margin-top: 0px;
    margin-left: 0;
    border: 1.5px solid #F18918;
    border-radius: 5px;
}

.home-content{
    z-index: 3;
    margin-top: 200px;
}

.education-button{
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    float: right;
    color: #fff;
    font-size: 25px;
    background-color: #F18918;
}
#about{
    min-height: 1150px;
    margin-top: -220px;
}

ul li{
    color: #fff;
}

.ul-group{
    z-index: 5;
}

.features-item-list li:before{
    background-color: #F18918;
    top: 15px;
}

.overlay-fix{
    opacity: 0.75;
}

.middle-row{
    height: 120px;
}

.middle-img{
    width: 400px;
}

.fix-to-right{
    position: absolute;
    bottom: 22px;
    right: 55px;
    font-size: 9px;
    color: white;
}