<div class="row m-0 pb-5 pt-5 pl-3 pr-3 pl-lg-5 pr-lg-5 d-flex align-items-center" style="background-color: #2c2c2c;">
  <div class="col-lg-3 d-none d-lg-block">
    <h5 class="text-white nexa-bold">
      ANADOLU <br>
      ORFF-SCHULWERK <br>
      DERNEĞİ
    </h5>
  </div>
  <div class="col-lg-6">
    <p class="mb-0 mont-regu" style="text-align: center;font-size: 10px;color: white; line-height: 1.5;">ORFF®, Carl Orff Vakfı’na kayıtlı bir markadır. Bu marka ORFF®-Schulwerk’i, ORFF® / ORFF®-Schulwerk Derneklerini, Kurumlarını,
      Projelerini ve Seviye Kurslarını da kapsamaktadır. Orffder, bu kayıtlı markayı Carl Orff Vakfı'nın lisanslı izniyle kullanmaktadır.</p>
  </div>
  <div class="col-6 d-block d-lg-none pt-3">
    <h5 class="text-white nexa-bold">
      ANADOLU <br>
      ORFF-SCHULWERK <br>
      DERNEĞİ
    </h5>
  </div>
  <div class="col-6 col-lg-3 pt-3 pt-lg-0">
    <div class="row">
      <div class="col-12 p-0">
        <img src="/assets/licence.png" style="    width: 180px;height: 46px;float: right;">
      </div>
      <div class="col-12 p-0">
        <span style="float: right;
        font-size: 12px;
        color: white;
        margin-top: 3px;">Onaylı Kuruluştur.</span>
      </div>
    </div>
  </div>
</div>