<section class="section bg-home home-half home-registration pt-0 pb-5" style="background: none;" id="home">
    <div class="content-container">
        <div class="row">
            <div class="col-lg-7 text-left left-card">
                <h3 class="left-title">
                    “ Elementer müzik katiyen sadece müzik değildir
                    hareket, dans ve konuşma ile ayrılmaz bir bütünlük
                    oluşturur. Kişinin kendi yaptığı, içinde dinleyici olarak
                    değil katılımcı olarak yer aldığı müziktir. ”
                </h3>
                <h3 class="mt-4" style="font-style: italic;">Carl Orff</h3>
            </div>
            <div class="col-lg-4 offset-lg-1 mt-5 mt-lg-0">
                <img src="/assets/images/content-right.png" style="width: 100%" alt="">
            </div>
        </div>
    </div>
    <span class="bg-circle"></span>
    <img src="/assets/carl-orff.png" alt="img" class="signature">
</section>

<app-home-content></app-home-content>
<app-footer></app-footer>

