<section id="membershipContent" class="membership-container">
  <div class="row home-content">
    <div class="col-lg-6 order-2 order-lg-1 div-left">
            <div class="row">
              <div class="col-auto">
                <h3 class="maga-bold">KURUMSAL ÜYELİK</h3>
                <hr class="hr w-100">
              </div>
            </div>
            <h4 class="common-detail-style mt-4 mont-regu common-detail-style">
              ​​Yurt içinde veya yurt dışında ​​ticari faaliyet gösteren, üyeliğin gerektirdiği her türlü yükümlülüğü üstlenmiş ve üyelik haklarından yararlanan, dernek amaçları doğrultusunda yapılacak çalışmalara katılmak, işbirliği yapmak isteyen üyedir. ​Kurumsal üyelikler için kurumun bir ünvanının olması gerekmektedir. Ödentilerini zamanında ödemekle
              yükümlüdürler. Her kurumsal üye Anadolu Orff Schulwerk Derneği’ne, firmasını temsil edecek bir kurumsal üye temsilcisi bildirmek
              zorundadır. Kurumsal üye temsilcisi genel kurullarda derneği temsil ve ilzama yetkilendirilmiş kişidir. Her kurumsal üye genel kurullarda
              temsilcinin kullanacağı bir oy ile temsil edilir. Kurumsal üye, bildirdiği temsilcide değişiklik olduğu takdirde derneğe bildirmekle yükümlüdür.
            </h4>

            <h3 class="maga-bold" style="margin-top: 75px;">KATILIM KOŞULLARI</h3>
            <hr class="hr hr2">
            <h4 class="common-detail-style mt-4 mb-1">
              Bir yıllık Kurumsal Üyelik Ücreti:  750 tl
            </h4>
            <button class="btn membership-button membership-button-fix" routerLink="/sign" >ÜYE OL</button>
    </div>
    <div class="col-lg-6 order-2 order-lg-1 div-right pt-5 pt-lg-0">
        <div class="row">
          <div class="col-auto">
            <h3 class="maga-bold">AVANTAJLAR</h3>
            <hr class="hr w-100">
          </div>
        </div>

        <h4 class="common-detail-style mt-4">
          - Kurs organizasyonu duyurulmadan bir hafta önce öğrenme avantajı.
          (Kursa ilk kayıt haftasında toplam 2 kurumsal üyenin katılımcıları için
          kontenjan garantisi sağlanacaktır, devam eden kayıt günlerinde kurumsal üyelik avantajlarını koruyarak yer bulmaları şartı ile kursa kayıtları yapılacaktır.) 
        </h4>
        <h4 class="common-detail-style mt-4">
          - Her kurs için 3 kişi %25 indirimli 1 kişi ücretsiz toplam 4 kişilik kursa katılım kontenjanı. (ZİNCİR KURS ve MODEL KURSLAR için geçerlidir.)
        </h4>
        <h4 class="common-detail-style mt-4">
          Not: İleride düzenlenecek seminer-sempozyum-konferans gibi
          organizasyonlarda da aynı avantajlar geçerli olacaktır.  
        </h4>
        <h4 class="common-detail-style mt-4">
          - Paylaşım günü ücretleri güncel olarak belirlenecektir.
        </h4>
        <h4 class="common-detail-style mt-4">
          - Paylaşım günlerine 2 kişilik ücretsiz kontenjan avantajı. 
        </h4>

        <h3 class="mt-4 theme-color">
          ORFFDERGİ
        </h3>
        <h4 class="common-detail-style mt-3">
          - Kurumsal üyelerimize web sitesi üzerinden online
          yayımlanacak olan Orffdergi’ye ücretsiz erişim hakkı.
        </h4>
        <h3 class="mt-5 theme-color">
          ORFF ÇALGILARI
        </h3>
        <h4 class="common-detail-style mt-3">
          - Orffder bilgisi, deneyimi ve danışmanlığında kurumunuza 
          Orff-Schulwerk sınıfı kurma avantajı. (Enstrüman ve tercih edilen mekân giderleri danışmanlık alan kurumsal üye
          tarafından karşılanacaktır.)
        </h4>
        <h4 class="common-detail-style mt-4">
        - Anlaşmalı enstrüman mağazalarından indirimli çalgı
        edinme avantajı.
        </h4>
    </div>
</div>
</section>

<section  class="membership-container section" id="membershipContent2">
  <div class="bg-overlay overlay-fix" style="background:  #010108;z-index: -2;"></div>
  <div class="row home-content">
    <div class="col-lg-6 order-2 order-lg-1 div-left">
        <div class="features-box text-white">
            <div class="row">
              <div class="col-auto">
                <h3 class="maga-bold mb-2">DESTEKÇİ - SPONSOR ÜYELİK</h3>
                <hr class="hr w-100">
              </div>
            </div>
            <h4 class="common-detail-style mt-4 mont-regu common-detail-style">
              ​​Derneğin amaç ve hizmet konularında yapılacak çalışmalara maddi ve manevi olarak destek olmaya niyetli, yönetim kurulu kararı ile
              seçilen üyelerdir. Destekçi ve / veya sponsor üyelerin seçme ve
              seçilme hakkı yoktur. ​Ancak bu üyeler, diledikleri takdirde Genel Kurul’da bulunabilir ve öneri getirebilirler.​ Ödenti vermekle
              yükümlü değildirler.
            </h4>
            <h4 class="common-detail-style mt-5">
              Destekçi - Sponsor Üyelik için aşağıdaki mail adresimizden
              bize ulaşabilirsiniz.
            </h4>
        </div>
        <button class="btn membership-button float-left mt-3 mb-3">uyelik@orffder.org</button>
    </div>
    <div class="col-lg-6 order-2 order-lg-1 div-right">
      <div class="features-box text-white">
        <div class="row">
          <div class="col-auto">
            <h3 class="maga-bold mb-2">ONURSAL ÜYELİK</h3>
            <hr class="hr w-100">
          </div>
        </div>
        <h4 class="common-detail-style mt-4 mont-regu common-detail-style">
          ​​Derneğe maddi ve manevi bakımdan önemli destek sağlamış ve dernekte bulunmasından onur duyulacak kişiler yönetim kurulu kararı ile onursal üye olarak kabul edilebilir. Derneğin amaç ve hizmet konularında uygun çalışmalarda bulunan, insanlığa, bilime ve topluma hizmet vermiş olan, Orff Schulwerk yaklaşımı alanında yapılacak çalışmalara maddi ve manevi olarak destek olmaya
          niyetli, toplumda sevgi ve saygı duyulan önder kişiler arasından; şube yönetim kurulu veya iki üyenin önerisi ve Dernek Yönetim
          Kurulu’nun kararı ile seçilen onursal nitelikteki üyedir. Onursal
          üyelerin seçme ve seçilme hakkı yoktur. ​Ancak bu üyeler, diledikleri takdirde Genel Kurul’da bulunabilir ve öneri getirebilirler. Ödenti vermekle yükümlü değildirler. ​Ancak diledikleri takdirde
          diledikleri miktarda bağış yapabilirler​.
        </h4>

      </div>
    </div>
</div>
</section>