<section class="section content bg-white" id="educationContent">
  <div class="row">
    <div class="col-lg-6">
      <div class="features-box">
        <div>
          <h1>ZİNCİR KURS</h1>
          <hr class="hr">
        </div>
        <h4 class="mt-4 common-detail-style mont-regu">
          Orff-Schulwerk’in ögrenme alanları bakımından birbirini
          tamamlayan ve birbirini izleyen seri kurslardır. Elementer ses
          egitimi, elementer enstrüman çalma, elementer dans, elementer
          kompozisyon ve aranje, blok flüt vb. gibi spesifik alanlar 3’lü
          olarak kombine edilecektir. Bu kurslar 4-8 haftalık aralıklarla
          birbirini izleyecektir. Katılımcıların mümkün oldugunca bu üç
          kursun hepsine birden katılmaları önerilir. Fakat tabii ki bu
          kurslardan sadece birine veya ikisine katılım da mümkündür.
        </h4>
        <h4 class="mt-4 common-detail-style mont-regu">
          Zincir Kurs’un amacı, sadece müzik ve dans materyali
          tanıtmaktan veya çesitli ders modelleri göstermekten daha
          ziyade katılımcılara, Orff-Schulwerk pedagojisine dair teorik ve
          pratik alanda bilgi ve anlayıs kazandırmaktır.
        </h4>
    </div>
    </div>
    <div class="col-lg-6 text-center features-box-right">
      <img src="/assets/education.png" alt="img" style="width:490px;">
    </div>
  </div>
</section>

<section class="section content" id="educationContent2">
  <div class="row">
    <div class="col-lg-6">
      <div class="features-box">
        <div class="row">
          <div class="col-auto">
            <h1>MENTOR EŞLİĞİNDE <br> ÇOCUKLARLA PRATİK (Practicum)</h1>
            <hr class="hr w-100" >
          </div>
        </div>

        <h4 class="mt-4 common-detail-style">
          Bu egitimler küçük gruplarla yapılır. Mentor, katılımcılara ders
          hazırlama ve hazırladıkları dersi çocuklarla uygulama
          konusunda bireysel olarak rehberlik eder. Bu egitimler Avrupa
          üniversitelerinin Elementer Müzik Pedagojisi lisans ve yüksek
          lisans programlarında ve Orff Enstitüsü ndeki lisans ve yüksek
          lisans programlarında uygulanan bir sistemdir ve özellikle
          ögretmen egitimi yapmak isteyen kisilerin mutlaka alması
          tavsiye edilir.
        </h4>

        <h4 class="mt-4 common-detail-style mont-regu">
          <span class="theme-color mont-semi">BAŞVURU ŞARTLARI: </span> <br>
          Başvurular için özgeçmiş ve bir niyet mektubu yeterlidir. Başvuranların üniversitelerin müzik veya dans bölümlerinden veya anaokulu
          öğretmenliği bölümlerinden birinden mezun olması, hâlihazırda birçok iyi nitelikteki Orff-Schulwerk kursuna katılmış olması ve çocuklarla en azından iki yıllık bir çalışma deneyimi olması gerekir. Türkiye, Avrupa ve Amerika´daki aşamalı kurslardan geçmiş olan veya Special Course mezunu olup öğrendiklerini uygulamada daha ileri düzeye taşıma
          gayretinde olan kişilere öncelik verilir. Bu eğitim, Üç Aşamalı Öğretmen Eğitimi Sertifika Programımız ile de kombine edilecektir ve öğretmen eğitimcisi olmak isteyen katılımcılarımız için önemli bir yeterlilik
          göstergesi olacaktır.
        </h4>
      </div>
      <!-- <div class="features-box content-list mt-4">
        <p>- Bir grup en fazla 4 veya 5 katılımcıdan olusur.</p>
        <p>- Katılımcıların tamamının katıldıgı ders hazırlamaya yönelik
          teorik ve pratik temel bilgilerin verildigi bir hafta sonu kursu
          ile baslar.</p>
        <p>- Katılımcıların her biri mentor ile birlikte bireysel olarak hedef
          gruba yönelik 4 birim ders (1 birim=45dk.) hazırlar.</p>
        <p>- Hazırlanan ders belirlenen tarih ve sınıfta 45 dk. boyunca
          çocuklarla uygulanır.</p>
        <p>- Katılımcılar çalısmak istedikleri yas grubunu kendileri belirler.</p>
        <p>- Dersten sonraki 45 dk. ise uygulama degerlendirilir.</p>
        <p>- Diger katılımcılar dersi birlikte izler ve degerlendirme
          asamasına da aktif olarak katılır. Alanda uzman en fazla
          2 egitimci dersi izlemeye çagrılabilir.</p>
        <p>- Degerlendirme yapan mentor ve diger katılımcılar
          her zaman yapıcı analizlerde ve tavsiyelerde bulunur.</p>
        <p>- Ders planlama ve uygulamaya dair her detayın üzerinde
          uygulama sırasında ortaya çıkan durumlar temel alınarak
          durulur.</p>
        <p>- Bir katılımcının hazırladıgı 4 ders biriminin tamamı izlenmeli
          ve degerlendirilmelidir.</p>
        <p>- Ihtiyaç duyuldugu takdirde katılımcılar yeni bir 4 ders
          biriminden olusan paket programa devam edebilirler.</p>
      </div> -->
      <div class="row">
        <div class="col-12 text-center mt-5 mb-5">
          <img src="/assets/education.png" alt="img" style="width:490px;">
        </div>
      </div>
      <div class="features-box mt-5">
        <div class="row">
          <div class="col-auto">
            <h1>PAYLAŞIM GÜNLERİ</h1>
            <hr class="hr w-100">
          </div> 
        </div>
        
        <h4 class="mt-4 common-detail-style">
          Bu kurslar, ögretmen egitimi verebilecek düzeydeki egitimcileri
          tanımak amaçlıdır. Bir ögretmen hazırladıgı 90 dakikalık bir veya
          birden fazla ders birimini sunar. Isterse bunlara teorik sunumlar
          da ekleyebilir.
        </h4>
        <h4 class="mt-4 common-detail-style">
          Dersi hazırlayan ögretmen, sunacagı ders konseptini
          (ORFFDER´in kurs ve seminer duyurularında yaptıgı gibi) bir
          paragrafta özetlemelidir. Sunulacak olan ders içerigi, öncelikle
          info@orffder.org adresine gönderilir. Dersin uygunluguna göre
          ORFFDER´in kurs programını olusturan ekip gönderilen dersin
          duyurusunu yapar.
        </h4>
        <h4 class="mt-4 common-detail-style">
          Her 90 dakikalık biriminin ardından paylasımlar, paylasımı yapan
          ögretmenin kendisi, katılımcılar ve ORFFDER´in yetkilendirdigi
          bir baska ögretmen tarafından degerlendirilir. Dersler demokratik
          ve yapıcı bir biçimde tartısılır, böylece birlikte ve birbirinde
          ögrenme pozitif bir atmosferde saglanmıs olur.
        </h4>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="features-box-right">
        <div class="row">
          <div class="col-auto">
            <h1>ÜÇ AŞAMALI ÖĞRETMEN EĞITİMİ
              SERTİFİKA PROGRAMI</h1>
            <hr class="hr w-100">
          </div>
        </div>
        <h4 class="mt-4 common-detail-style">
          Orffder’in Üç Aşamalı Öğretmen Eğitimi Sertifika Programı Carl Orff Vakfı’nın ORFF®-Schulwerk sertifika programı lisans kriterlerine her
          bakımdan uyarak Orff-Schulwerk´in Türkiye’de uluslararası
          standartlarda gelişimine ve yayılımına hizmet etmeyi
          amaçlamaktadır.
        </h4>
        <h4 class="mt-4 common-detail-style">
          Bu eğitim programının içeriği Carl Orff Vakfı’nın verdiği yönergelere sıkı bir biçimde uymakla beraber Türkiye’deki eğitim sisteminin
          getirdiği ihtiyaçlar doğrultusunda yorumlanmış ve adapte edilmiştir. Dersler, Avrupa standartlarında bağımsız, bilinçli ve bilgili uzman
          Orff-Schulwerk öğretmenleri yetiştirilmek üzere oldukça kapsamlı planlanmıştır. Bu programın katılım koşulları, aşama atlama ve final sınavları kriterleri objektif değerlendirme anlayışını ve böylece
          katılımcının eğitim haklarını korumak üzere oluşturulmuştur. 
        </h4>
        <h4 class="mt-4 common-detail-style">
          Uzun ve detaylı bir  hazırlık ve başvuru süreci sonucunda Orffder,  Carl Orff Vakfı’ndan ORFF®-Schulwerk - Elementer Müzik ve Hareket
          Eğitimi alanında öğretmen eğitimi sertifika programı (alışılmış ifade ile seviye kursları) düzenleme lisansını almaya hak kazanmıştır.
        </h4>
        <h4 class="mt-4 common-detail-style">
          Bu sertifika programının başvuru koşulları, tarihleri ve detaylı tanıtım broşürü yakın bir zamanda hem Web sayfamızda hem de Instagram ve Facebook sayfamızda paylaşılacaktır. 
        </h4>
      </div>
      <div class="features-box-right">
        <div class="row mt-5 pt-5">
          <div class="col-auto">
            <h1>MODEL KURSLAR</h1>
            <hr class="hr w-100">
          </div> 
        </div>
        <h4 class="mt-4 common-detail-style">
          Bu kursların üç farklı odak noktası olacaktır ve yarım, bir veya iki günlük olarak hafta içi veya hafta sonu kursları olarak planlanacaktır:
        </h4>
        <h4 class="mt-4 common-detail-style">
          <span class="theme-color">Orff-Schulwerk Ders Modelleri:</span> Bu kurslar, bir taraftan
          katılımcılarımızın hem uluslararası alandan davet ettiğimiz hem de Türkiye´deki uzman Orff-Schulwerk eğitimcilerinin farklı ders işleme tarzlarını tanımalarına olanak verecek, bir taraftan da müzik, hareket, dans materyali ve oyun repertuvarlarını genişleterek kendi derslerini planlamalarına ilham olacak fikirler edinmelerini sağlayacaktır. 
        </h4>
        <h4 class="mt-4 common-detail-style">
          <span class="theme-color">Disiplinlerarası İlave Kurslar:</span> Orff-Schulwerk derslerinin çok kapsamlı ve çok araçlı (multimedial) yönü gözetildiğinde hem farklı sanat
          dallarının hem de farklı beceri alanlarının malzeme, yöntem ve
          teknikleri birleştirilerek yeni ifade olanakları keşfedebilir ve bunlar
          yaratıcı ders süreçlerine entegre edilebilir. 
        </h4>
        <h4 class="mt-4 common-detail-style">
          Bu kurslar, katılımcılarımıza dans, drama, kukla tiyatrosu, resim,
          sahneleme teknikleri, jonglörlük, sihirbazlık, pantomim, origami, bebek ve kukla yapımı gibi farklı alanlarda deneyim ve repertuvar
          kazandırmaya yöneliktir. Müzik derslerinde ihtiyaç duyulan tematik
          çeşitlilik, atmosfer yaratma ve hayal gücünün kullanımının yanında  daha fazla estetik ve sanatsal niteliklerin ortaya çıkarılabilmesine
          yardımcı olacak müzik dışı fikir ve becerilerin kazanılması bu kursların ana hedefidir.
        </h4>

        <div class="mt-5">
          <h4 class="mt-4 content-footer-container text-white">
            VERİLEN TÜM KURSLARIN SONUNDA ULUSLARARASI GEÇERLİLİĞİ
            OLAN KATILIM BELGESİ VEYA EĞİTİM SERTİFİKASI VERİLMEKTEDİR.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row text-center d-flex align-items-center middle-row">
  <div class="col-12">
      <button class="btn education-button kelso-sans" routerLink="/payment" >BAŞVURU YAP</button>
  </div>
</div>