.left-image{
    width: 490px;
    border-radius: 50%;
    border: 20px solid #fff;
    position: absolute;
    left: 210px;
    top: -51px;
}


.hr{
    width: 207px;
    margin-top: 10px;
    margin-left: 0;
    border: 2px solid #807F7D;
    border-radius: 5px;
}

.theme-color{
    color: #F0A017;
}