<section class="section content" id="educationContent">
  <div class="row">
    <div class="col-lg-6">
      <img src="/assets/education-content-left.png" alt="" class="left-image">
    </div>
    <div class="col-lg-6">
      <div class="features-box">
        <div>
          <h1 class="theme-color">ZİNCİR KURS</h1>
          <hr class="hr">
        </div>
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Orff-Schulwerk’in ögrenme alanları bakımından birbirini
          tamamlayan ve birbirini izleyen seri kurslardır. Elementer ses
          egitimi, elementer enstrüman çalma, elementer dans, elementer
          kompozisyon ve aranje, blok flüt vb. gibi spesifik alanlar 3’lü
          olarak kombine edilecektir. Bu kurslar 4-8 haftalık aralıklarla
          birbirini izleyecektir. Katılımcıların mümkün oldugunca bu üç
          kursun hepsine birden katılmaları önerilir. Fakat tabii ki bu
          kurslardan sadece birine veya ikisine katılım da mümkündür.
        </h4>
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Zincir Kurs’un amacı, sadece müzik ve dans materyali
          tanıtmaktan veya çesitli ders modelleri göstermekten daha
          ziyade katılımcılara, Orff-Schulwerk pedagojisine dair teorik ve
          pratik alanda bilgi ve anlayıs kazandırmaktır.
        </h4>
        <div class="row">
          <div class="col-12">
            <button class="btn education-button" routerLink="/payment">BAŞVURU</button>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>

<section class="section content" id="educationContent2">
  <div class="row">
    <div class="col-lg-6">
      <div class="features-box">
        <h1 class="theme-color">MENTOR EŞLİĞİNDE <br> ÇOCUKLARLA PRATİK (Practicum)</h1>
        <hr class="hr" style="width: 92%;">
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Bu egitimler küçük gruplarla yapılır. Mentor, katılımcılara ders
          hazırlama ve hazırladıkları dersi çocuklarla uygulama
          konusunda bireysel olarak rehberlik eder. Bu egitimler Avrupa
          üniversitelerinin Elementer Müzik Pedagojisi lisans ve yüksek
          lisans programlarında ve Orff Enstitüsü ndeki lisans ve yüksek
          lisans programlarında uygulanan bir sistemdir ve özellikle
          ögretmen egitimi yapmak isteyen kisilerin mutlaka alması
          tavsiye edilir.
        </h4>
      </div>
      <div class="features-box content-list mt-4">
        <p>- Bir grup en fazla 4 veya 5 katılımcıdan olusur.</p>
        <p>- Katılımcıların tamamının katıldıgı ders hazırlamaya yönelik
          teorik ve pratik temel bilgilerin verildigi bir hafta sonu kursu
          ile baslar.</p>
        <p>- Katılımcıların her biri mentor ile birlikte bireysel olarak hedef
          gruba yönelik 4 birim ders (1 birim=45dk.) hazırlar.</p>
        <p>- Hazırlanan ders belirlenen tarih ve sınıfta 45 dk. boyunca
          çocuklarla uygulanır.</p>
        <p>- Katılımcılar çalısmak istedikleri yas grubunu kendileri belirler.</p>
        <p>- Dersten sonraki 45 dk. ise uygulama degerlendirilir.</p>
        <p>- Diger katılımcılar dersi birlikte izler ve degerlendirme
          asamasına da aktif olarak katılır. Alanda uzman en fazla
          2 egitimci dersi izlemeye çagrılabilir.</p>
        <p>- Degerlendirme yapan mentor ve diger katılımcılar
          her zaman yapıcı analizlerde ve tavsiyelerde bulunur.</p>
        <p>- Ders planlama ve uygulamaya dair her detayın üzerinde
          uygulama sırasında ortaya çıkan durumlar temel alınarak
          durulur.</p>
        <p>- Bir katılımcının hazırladıgı 4 ders biriminin tamamı izlenmeli
          ve degerlendirilmelidir.</p>
        <p>- Ihtiyaç duyuldugu takdirde katılımcılar yeni bir 4 ders
          biriminden olusan paket programa devam edebilirler.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="features-box">
        <h2 class="theme-color">SÜRE</h2>
        <hr class="hr hr3">
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Kurs, bir kıs dönemi boyunca zamana yayılmıs olarak devam
          eder. Mentorluk süresi hazırlanan bir ders birimi için en fazla 90
          dakikadır. Mentor ögretmen dersin verildigi sehirde ikamet
          ediyorsa bu 4 ders biriminin hepsini izler ve degerlendirir.
        </h4>
        <h5 style="font-weight: 100;font-size: 18px;" class="mt-4">
          Not: Mentor farklı bir sehir veya ülkede ikamet ediyorsa, sadece iki ders
          birimini izleyip degerlendirebilir, bu durumda diger iki ders birimini o
          sehirde yasayan baska bir mentor izleyip degerlendirmelidir.
        </h5>
      </div>
      <div class="features-box mt-5">
        <h2 class="theme-color">BAŞVURU ŞARTLARI</h2>
        <hr class="hr hr4">
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Basvurular İçİn özgeçmİs ve bİr nİyet mektubu yeterlİdİr.
          Basvuranların ünİversİtelerİn müzİk veya dans bölümlerİnden
          veya anaokulu ögretmenlİgİ bölümlerİnden bİrİnden mezun
          olması, hâlİhazırda bİrçok İyİ nİtelİktekİ OSW kursuna katılmıs
          olması ve çocuklarla en azından İkİ yıllık bİr çalısma deneyİmİ
          olması gerekİr. Türkİye, Avrupa ve Amerİka dakİ asamalı
          kurslardan geçmİs olan veya Specİal Course mezunu olup
          ögrendİklerİnİ uygulamada daha İlerİ asamaya tasıma gayretİnde
          olan kİsİlere öncelİk verİlİr. Bu egİtİm, 2021 baharında baslayacak
          olan Üç Asamalı Ögretmen Egİtİmİ Sertİfİka Programı’mız İle de
          kombİne edİlecektİr ve ögretmen egİtİmcİsİ olmak İsteyen
          katılımcılarımız İçİn önemlİ bİr yeterlİlİk göstergesİ olacaktır.
        </h4>
        <div class="row">
          <div class="col-12">
            <button class="btn education-button" routerLink="/payment">BAŞVURU</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section content" id="educationContent2">
  <div class="row">
    <div class="col-lg-6">
      <div class="features-box">
        <h1 class="theme-color">PAYLAŞIM GÜNLERİ</h1>
        <hr class="hr">
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Bu kurslar, ögretmen egitimi verebilecek düzeydeki egitimcileri
          tanımak amaçlıdır. Bir ögretmen hazırladıgı 90 dakikalık bir veya
          birden fazla ders birimini sunar. Isterse bunlara teorik sunumlar
          da ekleyebilir.
        </h4>
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Dersi hazırlayan ögretmen, sunacagı ders konseptini
          (ORFFDER´in kurs ve seminer duyurularında yaptıgı gibi) bir
          paragrafta özetlemelidir. Sunulacak olan ders içerigi, öncelikle
          info@orffder.org adresine gönderilir. Dersin uygunluguna göre
          ORFFDER´in kurs programını olusturan ekip gönderilen dersin
          duyurusunu yapar.
        </h4>
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Her 90 dakikalık biriminin ardından paylasımlar, paylasımı yapan
          ögretmenin kendisi, katılımcılar ve ORFFDER´in yetkilendirdigi
          bir baska ögretmen tarafından degerlendirilir. Dersler demokratik
          ve yapıcı bir biçimde tartısılır, böylece birlikte ve birbirinde
          ögrenme pozitif bir atmosferde saglanmıs olur.
        </h4>
        <div class="row">
          <div class="col-12">
            <button class="btn education-button" routerLink="/payment">BAŞVURU</button>
          </div>
        </div>
      </div>

      <img src="/assets/education-content-equipment.png" alt="" class="w-100">
    </div>
    <div class="col-lg-6">
      <div class="features-box">
        <h2 class="theme-color">ÜÇ ASAMALI ÖĞRETMEN EĞİTİMİ SERTİFİKA PROGRAMI</h2>
        <hr class="hr hr4">
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Orffder´İn Üç Asamalı Ögretmen Egİtİmİ Sertİfİka Programı
          Carl Orff Vakfı’nın ORFF®-Schulwerk sertİfİka programı lİsans
          krİterlerİne her bakımdan uyarak Orff-Schulwerk´İn Türkİye’de
          uluslararası standartlarda gelİsİmİne ve yayılımına hİzmet
          etmeyİ amaçlamaktadır.
        </h4>
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Bu egİtİm programının İçerİgİ Carl Orff Vakfı’nın verdİgİ
          yönergelere sıkı bİr bİçİmde uymakla beraber Türkİye’dekİ
          egİtİm sİstemİnİn getİrdİgİ İhtİyaçlar dogrultusunda
          yorumlanmıs ve adapte edİlmİstİr. Dersler, Avrupa
          standartlarında bagımsız, bİlİnçlİ ve bİlgİlİ uzman
          Orff-Schulwerk ögretmenlerİ yetİstİrİlmek üzere oldukça
          kapsamlı planlanmıstır. Bu programın katılım kosulları, asama
          atlama ve fİnal sınavları krİterlerİ objektİf degerlendİrme
          anlayısını ve böylece katılımcının egİtİm haklarını korumak
          üzere olusturulmustur.
        </h4>
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Uzun ve detaylı bİr hazırlık ve basvuru sürecİ sonucunda
          Orffder, Carl Orff Vakfı´ndan ORFF®-Schulwerk - Elementer
          Müzİk ve Hareket Egİtİmİ alanında ögretmen egİtİmİ sertİfİka
          programı (alısılmıs İfade İle sevİye kursları) düzenleme lİsansını
          almaya hak kazanmıstır. Bu baglamda, Türkİye’de
          ORFF®-Schulwerk - Elementer Müzİk ve Hareket Egİtİmİ
          alanında uluslararası geçerlİlİgİ olan ögretmen egİtİmİ
          vermeye yetkİlİ tek kurum Orffder’dİr.
        </h4>
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Bu sertİfİka programının tarİhlerİ ve tanıtım brosürü çok yakında
          sunulacaktır.
        </h4>
        <div class="row">
          <div class="col-12">
            <button class="btn education-button" routerLink="/payment">BAŞVURU</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>