<section class="section" id="educationContent">
  <div class="row">
    <div class="col-lg-6">
      <img src="/assets/education-content-left.png" alt="" class="left-image">
    </div>
    <div class="col-lg-6 pr-5">
      <div class="features-box">
        <h1 class="theme-color">ZİNCİR KURS</h1>
        <hr class="hr">
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Orff-Schulwerk’in ögrenme alanları bakımından birbirini
          tamamlayan ve birbirini izleyen seri kurslardır. Elementer ses
          egitimi, elementer enstrüman çalma, elementer dans, elementer
          kompozisyon ve aranje, blok flüt vb. gibi spesifik alanlar 3’lü
          olarak kombine edilecektir. Bu kurslar 4-8 haftalık aralıklarla
          birbirini izleyecektir. Katılımcıların mümkün oldugunca bu üç
          kursun hepsine birden katılmaları önerilir. Fakat tabii ki bu
          kurslardan sadece birine veya ikisine katılım da mümkündür.
        </h4>
        <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
          Zincir Kurs’un amacı, sadece müzik ve dans materyali
          tanıtmaktan veya çesitli ders modelleri göstermekten daha
          ziyade katılımcılara, Orff-Schulwerk pedagojisine dair teorik ve
          pratik alanda bilgi ve anlayıs kazandırmaktır.
        </h4>
    </div>
    </div>
  </div>
</section>