<section class="section" id="membership">
  <div class="bg-overlay overlay-fix" style="background:  #010108;z-index: -2;"></div>
    <div class="container-fluid" style="padding-left: 8%;padding-right: 8%;">
        <div class="row home-content">
            <div class="col-lg-6 order-2 order-lg-1 div-left">
                <div class="features-box text-white">
                    <h2 class="maga-bold">DÜZENLİ - ASIL ÜYELİK</h2>
                    <hr class="hr hr2">
                    <h4 style="font-weight: 100;font-size: 16px;" class="mt-4 mont-regu">
                      Üyeliğin gerektirdiği her türlü yükümlülüğü üstlenmiş ve üyelik
                      haklarından yararlanan üyedir. Üyenin hakları; gereken koşullara uymak
                      kaydıyla her türlü göreve aday olmak ve oy kullanmaktır.  Asıl üye olan her kişinin Genel Kurul’da bir oy hakkı vardır. Asıl üye oy hakkını bizzat kullanmak zorundadır, vekil tayin edemez. Yükümlülükleri ise
                      oluşturulmuş ya da oluşturulacak çalışma birimlerine, etkinliklere ve genel kurul toplantılarına katılmak ödentilerini zamanında ödemek, derneğin ilke, amaç ve hizmet koşullarına bağlı olarak gerekli
                      çalışmaları yapmaktır.
                    </h4>

                    <h3 class="maga-bold mb-2" style="margin-top: 75px;">KATILIM KOŞULLARI</h3>
                    <hr class="hr hr3">
                    <h4 style="font-weight: 100;font-size: 16px;" class="mt-5">
                      Bir yıllık asıl üyelik ücreti: 2020 yılı 30 tl (bir defa alınır derneğe giriş
                      60 tl yıllık üyelik aidatı = ilk üye oluşta 90 tl devam eden yıl (2020)
                      için 60 tl’dir.
                    </h4>

                    <h4 style="font-weight: 100;font-size: 16px;" class="mt-4">
                      - Kurs organizasyonu duyurulmadan bir hafta önce öğrenme avantajı.
                    </h4>
                    <h4 style="font-weight: 100;font-size: 16px;" class="mt-4">
                      - Her kurs için %25 indirim avantajı.
                    </h4>
                    <h4 style="font-weight: 100;font-size: 16px;" class="mt-4">
                      - Paylaşım günü duyurularından bir hafta önce haberdar olma.
                    </h4>
                    <h4 style="font-weight: 100;font-size: 16px;" class="mt-4">
                      - Paylaşım günlerine ücretsiz katılma avantajı.
                    </h4>
                    <h4 style="font-weight: 100;font-size: 16px;" class="mt-4">
                      Not: İleride düzenlenecek seminer-sempozyum-konferans gibi
                      organizasyonlarda da aynı avantajlar geçerli olacaktır.  
                    </h4>
                </div>
                <button class="btn membership-button" routerLink="/payment" >ÜYE OL</button>
            </div>
            <div class="col-lg-6 order-2 order-lg-1 div-right">
              <div class="features-box text-white">
                <h2 class="maga-bold">AVANTAJLAR</h2>
                <hr class="hr">
                <h3 class="mt-4 theme-color">
                  ORFFDERGİ
                </h3>
                <h4 style="font-weight: 100;font-size: 16px;" class="mt-3">
                  - Asıl üyelerimize web sitesi üzerinden online yayımlanacak olan Orffdergi’ye ücretsiz erişim hakkı.
                </h4>
                <h4 style="font-weight: 100;font-size: 16px;" class="mt-4">
                  - Web sitesi üzerinden yayımlanacak olan dijital ders kayıt
                  özetlerine ücretsiz erişim hakkı.
                </h4>
                <h4 style="font-weight: 100;font-size: 16px;" class="mt-4">
                  - Web sitesi üzerinden yayımlanacak, ORFFDER ORKESTRASI
                  albümüne ücretsiz erişim hakkı. Orkestrada yer almak isteyen üyelere alan sağlanacaktır.
                </h4>
                <h3 class="mt-5 theme-color">
                  ORFF ÇALGILARI EDİNME VE ORFF SINIFI <br>
                  OLUŞTURMA DANIŞMANLIK HİZMETİ
                </h3>
                <h4 style="font-weight: 100;font-size: 16px;" class="mt-3">
                  - Orffder bilgisi, deneyimi ve danışmanlığında kurumunuza
                  Orff-Schulwerk sınıfı kurma avantajı. Bu danışmanlık ücretsiz
                  olacaktır. (Enstrüman ve kurum tarafından tercih edilen mekân giderleri danışmanlık alan asıl üyenin çalıştığı kurum
                  tarafından karşılanacaktır.)
                </h4>
                <h4 style="font-weight: 100;font-size: 16px;" class="mt-4">
                  - Anlaşmalı enstrüman mağazalarından indirimli çalgı edinme avantajı.
                </h4>
                <h3 class="mt-5 theme-color">
                  ULUSLARARASI KURSLAR
                </h3>
                <h4 style="font-weight: 100;font-size: 16px;" class="mt-3">
                  - Uluslararası kurslara ve Mozarteum Üniversitesi Orff Enstitüsü Special Course’a başvurmak isteyen üyelerimize başvuru
                  sürecinden itibaren danışmanlık sunulacak, söz konusu
                  kurslara daha önce katılmış deneyimli üyelerimiz arasındaki
                  iletişim çemberine dahil edileceklerdir.  
                </h4>
                <h4 style="font-weight: 100;font-size: 16px;" class="mt-4">
                  - Bu kurslara katılmak isteyen üyelerimize burs başvuruları
                  konusunda rehberlik edilecektir.
                </h4>
                <h4 style="font-weight: 100;font-size: 16px;" class="mt-4">
                  - Bu kurslara katılan üyelerimize başvurmaları halinde paylaşım
                  günlerinde düzenli ve sıralı olarak ayırt etmeksizin yer
                  verilecektir.
                </h4>
              </div>
            </div>
        </div>
    </div>
    <img src="/assets/membership-home.png" alt="img" class="bg-image">
    <h6 class="fix-to-left">Foto: Dorothee Günther <br>
      (Carl-Orff-Stiftung, Archiv: Orff-Zentrum München)</h6>
  </section>