<nav class="navbar navbar-expand-lg navbar-custom sticky sticky-dark"  style="background-color: transparent;box-shadow: none;background: transparent !important;">
    <div class="container-fluid header-container">
        <!-- LOGO -->
        <a class="navbar-brand logo text-uppercase" routerLink="/">
            <img class="d-none d-lg-block d-xl-block" id="header-logo" [src]="isBlack() ? '/assets/images/white-logo.png' : '/assets/images/logo.png'" >
        </a>

        <div class="row w-100 mr-lg-5" id="header">
            <div class="col-12 mt-3 login-container">
                <div class="nav-button ml-auto">
                    <button class="navbar-toggler float-right" (click)="toggleMenu()" 
                    type="button" id="menu_button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="mdi mdi-menu" style="color: black;"></i>
                    </button>
                    <span style="
                    height: 27px;
                    width: 25px;
                    float: right;
                    margin-left: 10px;
                    margin-top: 5px;
                    " class="mont-regu" [style.color]="isBlack() ? 'white' : 'black'">EN</span>
                    <span style="
                    height: 27px;
                    width: 25px;
                    float: right;
                    margin-top: 5px;
                    " class="mont-regu" [style.color]="isBlack() ? 'white' : 'black'">TR</span>

                    <img [src]="isBlack() ? '/assets/images/white-logo.png' : '/assets/images/logo.png'" class="mobile-logo" alt="logo">

                    <button style="padding: 0px 10px 0px 5px;margin-right: 15px;font-weight: 500;" (click)="openVerticallyCentered(loginModal)"
                     type="button" [class]="(currentUrl == '' || currentUrl == '/') ? 'btn btn-custom navbar-btn btn-rounded waves-effect waves-light float-right home-button kelso-sans' : 
                     'btn btn-custom navbar-btn btn-rounded waves-effect waves-light float-right contact-button kelso-sans'"> 
                     <i style="color: #000000;" class="mdi mdi-account-circle"></i> {{authService.isLoggedIn ? 'Çıkış Yap' : 'Giriş Yap'}}
                    </button>
                </div>
            </div>  
            <div class="col-12 mt-2">
                <div class="collapse navbar-collapse" id="navbarCollapse" scrollSpy>
                    <ul class="navbar-nav ml-auto" id="mySidenav">
                        <li class="nav-item">
                            <a data="id_home" (click)="toggleMenu()" routerLink="/" class="nav-link kelson ">ANASAYFA</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_about" (click)="toggleMenu()" routerLink="/about" class="nav-link kelson ">HAKKIMIZDA</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_education" (click)="toggleMenu()" routerLink="/education" class="nav-link kelson ">EĞİTİM PROGRAMLARI</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_calendar"(click)="toggleMenu()" routerLink="/calendar" class="nav-link kelson ">ETKİNLİK TAKVİMİ</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_magazine" (click)="toggleMenu()" routerLink="/magazine" class="nav-link kelson ">ORFFDERGİ</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_membership" (click)="toggleMenu()" routerLink="/membership" class="nav-link kelson ">ÜYELİKLER</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_contact" (click)="toggleMenu()" routerLink="/contact" class="nav-link kelson ">İLETİŞİM</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 w-100" 
    style="background-color: #F18918;
    position: absolute;
    top: 0px;
    z-index: -1;">
        <div class="col-12 p-0">
            <div class="row d-lg-none d-xl-none">
                <div class="col-12 ">
                    <div class="mobile-list collapse navbar-collapse" id="navbarCollapse2" scrollSpy>
                        <ul class="navbar-nav ml-auto mobile-header" id="mySidenav">
                            <li class="nav-item">
                                <a data="id_home"  (click)="toggleMenu()" routerLink="/" class="nav-link">Anasayfa</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_features"  (click)="toggleMenu()" routerLink="/about" class="nav-link">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_services"  (click)="toggleMenu()" routerLink="/education" class="nav-link">Eğitim Programları</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_calendar" (click)="toggleMenu()" routerLink="/calendar"  class="nav-link">Etkinlik Takvimi</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_magazine"  (click)="toggleMenu()" routerLink="/magazine" class="nav-link">Orffdergi</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_membership"  (click)="toggleMenu()" routerLink="/membership" class="nav-link">Üyelikler</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_contact" (click)="toggleMenu()" routerLink="/contact" class="nav-link">İletişim</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<ng-template #loginModal let-modal>
    <div class="modal-body">
      <div class="row justify-content-center">
          <div class="col-auto">
            <img  src="/assets/single-logo.png" >
          </div>
          <div class="col-12">
              <hr>
          </div>
          <div class="col-10 mt-2">
            <div class="form__group field">
                <input [(ngModel)]="name" type="input" class="form__field" placeholder="Kullanıcı Adı" name="name" id='name' required />
                <label for="name" class="form__label">Kullanıcı Adı</label>
            </div>
          </div>
          <div class="col-10 mt-3">
            <div class="form__group field">
                <input [(ngModel)]="password" type="password" class="form__field" placeholder="Şifre" name="password" id='password' required />
                <label for="name" class="form__label">Şifre</label>
            </div>
          </div>
          <div *ngIf="error" class="col-12">
              <p class="text-center mt-3" style="color:red">
                  {{message}}
              </p>
          </div>
          <div class="col-10 mt-4">
            <button class="btn login-button" (click)="login()">Giriş Yap</button>
            <button class="btn forget-button float-right" (click)="step=2">Şifremi Sıfırla</button>
          </div>
          <div class="col-10 mt-4">
          </div>
      </div>
    </div>
  </ng-template>