<nav class="navbar navbar-expand-lg navbar-custom sticky sticky-dark"  style="background-color: transparent;box-shadow: none;background: transparent !important;">
    <div class="container-fluid">
        <!-- LOGO -->
        <a class="navbar-brand logo text-uppercase" routerLink="/">
            <img class="d-none d-lg-block d-xl-block" id="header-logo" [src]="isBlack() ? '/assets/images/white-logo.png' : '/assets/images/logo.png'" >
        </a>

        <div class="row mr-lg-5" id="header">
            <div class="col-12">
                <div class="nav-button ml-auto">
                    <button class="navbar-toggler float-right" (click)="toggleMenu()" 
                    type="button" id="menu_button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="mdi mdi-menu" style="color: black;"></i>
                    </button>
                    <span style="
                    height: 27px;
                    width: 25px;
                    float: right;
                    border-radius: 50%;
                    display: inline-block;
                    background-size: cover;
                    margin-left: 10px;
                    margin-top: 2px;
                    background-image: url('/assets/images/en.png');
                    "></span>
                    <span style="
                    height: 27px;
                    width: 25px;
                    float: right;
                    border-radius: 50%;
                    display: inline-block;
                    background-size: cover;
                    margin-top: 2px;
                    background-image: url('/assets/images/tr.png');
                    "></span>
                    <button style="padding: 0px 10px 0px 5px;margin-right: 15px;font-weight: 500;" type="button" [class]="(currentUrl == '' || currentUrl == '/') ? 'btn btn-custom navbar-btn btn-rounded waves-effect waves-light float-right home-button' : 'btn btn-custom navbar-btn btn-rounded waves-effect waves-light float-right contact-button'"> <i style="color: #000000;" class="mdi mdi-account-circle"></i> Üye Girişi</button>
                </div>
            </div>  
            <div class="col-12">
                <div class="collapse navbar-collapse" id="navbarCollapse" scrollSpy>
                    <ul class="navbar-nav ml-auto" id="mySidenav">
                        <li class="nav-item">
                            <a data="id_home" (click)="toggleMenu()" [ngx-scroll-to]="'#header'" routerLink="/" class="nav-link kelson ">ANASAYFA</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_about" (click)="toggleMenu()" [ngx-scroll-to]="'#about'" routerLink="/about" class="nav-link kelson ">HAKKIMIZDA</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_education" (click)="toggleMenu()" [ngx-scroll-to]="'#education'" routerLink="/education" class="nav-link kelson ">EĞİTİM PROGRAMLARI</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_calendar"(click)="toggleMenu()" [ngx-scroll-to]="'#calendar'" routerLink="/calendar" class="nav-link kelson ">ETKİNLİK TAKVİMİ</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_pricing" (click)="toggleMenu()" [ngx-scroll-to]="'#pricing'" class="nav-link kelson ">ORFFDERGİ</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_membership" (click)="toggleMenu()" [ngx-scroll-to]="'#membership'" routerLink="/membership" class="nav-link kelson ">ÜYELİKLER</a>
                        </li>
                        <li class="nav-item">
                            <a data="id_contact" (click)="toggleMenu()" [ngx-scroll-to]="'#contact'" routerLink="/contact" class="nav-link kelson ">İLETİŞİM</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 w-100" 
    style="background-color: rgb(240, 157, 29);
    position: absolute;
    top: 50px;">
        <div class="col-12 p-0">
            <div class="row d-lg-none d-xl-none">
                <div class="col-12 ">
                    <div class="collapse navbar-collapse" id="navbarCollapse2" scrollSpy>
                        <ul class="navbar-nav ml-auto mobile-header" id="mySidenav">
                            <li class="nav-item">
                                <a data="id_home"  [ngx-scroll-to]="'#header'" routerLink="/" class="nav-link">Anasayfa</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_features"  [ngx-scroll-to]="'#features'" class="nav-link">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_services"  [ngx-scroll-to]="'#services'" class="nav-link">Eğitim Programları</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_calendar" [ngx-scroll-to]="'#calendar'" routerLink="/calendar"  class="nav-link">Etkinlik Takvimi</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_pricing"  [ngx-scroll-to]="'#pricing'" class="nav-link">Orffdergi</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_membership"  [ngx-scroll-to]="'#membership'" routerLink="/membership" class="nav-link">Üyelikler</a>
                            </li>
                            <li class="nav-item">
                                <a data="id_contact" [ngx-scroll-to]="'#contact'" routerLink="/contact" class="nav-link">İletişim</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>