<section class="section " id="contact">
    <div class="container-fluid" style="padding-left: 10%;padding-right: 10%;">
        <div class="row">
            <div class="col-lg-4">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <h3>İLETİŞİM</h3>
                            <hr class="contact-hr">
                        </div>
                        <div class="col-12" style="margin-top: 70px;">
                            <div class="row">
                                <div class="col-2">
                                    <img src="/assets/images/contact/mail.PNG" alt="" style="width: 45px;">
                                </div>
                                <div class="col-10">
                                    <span style="font-size: 25px;">info@orffder.org</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="margin-top: 15px;">
                            <div class="row">
                                <div class="col-2">
                                    <img src="/assets/images/contact/member.PNG" alt="" style="width: 45px;">
                                </div>
                                <div class="col-10">
                                    <span style="font-size: 25px;">üyelik@orffder.org</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="margin-top: 15px;">
                            <div class="row">
                                <div class="col-2">
                                    <img src="/assets/images/contact/location.PNG" alt="" style="width: 45px;">
                                </div>
                                <div class="col-10">
                                    <span style="font-size: 25px;">Adres: Osmanağa Mh. Nusherefendi Sk. Tekiner İşhanı No: 3 Daire: 14 Kadıköy, İstanbul - TURKEY</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="margin-top: 15px;">
                            <div class="row">
                                <div class="col-2">
                                    <img src="/assets/images/contact/insta.PNG" alt="" style="width: 45px;">
                                </div>
                                <div class="col-10">
                                    <span style="font-size: 25px;">instagram: orffder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="margin-top: 15px;">
                            <div class="row">
                                <div class="col-2">
                                    <img src="/assets/images/contact/face.png" alt="" style="width: 45px;">
                                </div>
                                <div class="col-10">
                                    <span style="font-size: 25px;">facebook: orffder </span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-8">
                <div>
                    <div class="row">
                        <div class="col-12 contact-padding">
                            <h3>BİZE MESAJINIZ MI VAR?</h3>
                            <hr class="message-hr">
                            <br>
                            <h6 style="font-weight: 100;font-size: 17px;">Tüm sorularınız ve geri bildirimleriniz için bize mesaj gönderin.</h6>
                        </div>
                        <div class="col-10 contact-card mt-4">
                            <div class="row py-4">
                                <div class="col-3">
                                    <h4 class="text-white mt-1 ml-4">İSİM SOYİSİM</h4>
                                </div>
                                <div class="col-7">
                                    <span class="text-white mr-2"> : </span>
                                    <input class="contact-input" type="text">
                                </div>
                            </div>
    
                            <div class="row py-2">
                                <div class="col-3">
                                    <h4 class="text-white mt-1 ml-4">E-MAIL</h4>
                                </div>
                                <div class="col-7">
                                    <span class="text-white mr-2"> : </span>
                                    <input class="contact-input" type="text">
                                </div>
                            </div>
    
                            <div class="row py-4">
                                <div class="col-3">
                                    <h4 class="text-white mt-1 ml-4">MESAJINIZ</h4>
                                </div>
                                <div class="col-9">
                                    <span class="text-white float-left" style="margin-right: 12px;"> : </span>
                                    <textarea style="width: 95%; border-radius: 10px;" type="text" rows="4"> </textarea>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="row contact-button-container">
                            <div class="col-12">
                                <button class="btn contact-button">GÖNDER</button>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</section> 

<app-footer></app-footer>