.contact-hr{
    width: 125px;
    float: left;
    margin-top: 10px;
    border: 1.5px solid #F0A017;
    border-radius: 5px;
}

.message-hr{
    width: 340px;
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
    border: 1.5px solid #F0A017;
    border-radius: 5px;
}

.contact-card{
    background-color: #F08817;
    border-radius: 50px;
}

.contact-input{
    width: 95%;
    border-radius: 10px;
    height: 34px;
}

.contact-button{
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    color: #fff;
    font-size: 25px;
    background-color: #F08817;
}

.contact-button-container{
    position: absolute;
    right: 0;
    bottom: -70px;
}

@media (min-width:1000px){

    #content{
        padding-top: 100px;
        padding-bottom: 9%;
    }

    .contact-padding{
        padding-left: 23%;
    }
    .contact-card{
        margin-left: 23%;

    }
}

.payment-sign{
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    float: right;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    background-color: #D98017;
}

.payment-card{
    background-color: #D98017;
    border-radius: 50px;
}

.payment-input{
    width: 95%;
    border-radius: 10px;
    height: 34px;
}

.payment-button{
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    color: #F08817;
    font-size: 25px;
    background-color: #5c5c5c;
}