<section class="section" id="calendar">
  <div class="calendar-container">
    <div class="row">
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4">13 HAZİRAN</h3>
        <h3 class="mont-semi">ZİNCİR KURS</h3>
        <h5 >10:00-13:00</h5>
      </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4">13 HAZİRAN</h3>
        <h5 class="mont-semi">MENTÖR EŞLİĞİNDE
          ÇOCUKLARLA PRATİK
          (Practicum)</h5>
        <h5 >15.00-19.00</h5>
      </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4">21 HAZİRAN</h3>
        <h3 class="mont-semi">ZİNCİR KURS</h3>
        <h5 >10:00-13:00</h5>
      </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4">3 TEMMUZ</h3>
        <h3 class="mont-semi">ZİNCİR KURS</h3>
        <h5 >10:00-13:00</h5>
      </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4">13 HAZİRAN</h3>
        <h5 class="mont-semi">MENTÖR EŞLİĞİNDE
          ÇOCUKLARLA PRATİK
          (Practicum)</h5>
        <h5 >10:00-13:00</h5>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>