<section class="section" id="calendar">
  <div class="calendar-container">
    <div class="row">
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4 mt-3">13 HAZİRAN</h3>
        <h3 class="mont-semi">ZİNCİR KURS</h3>
        <h4 class="mont-regu theme-color mt-2">10 : 00 - 13 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
        <h3 class="maga-bold theme-color mb-4 mt-3">13 HAZİRAN</h3>
        <h5 class="mont-semi">MENTÖR EŞLİĞİNDE
          ÇOCUKLARLA PRATİK
          (Practicum)</h5>
        <h4 class="mont-regu theme-color mt-2">15 : 00 - 19 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
      </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4 mt-3">13 HAZİRAN</h3>
        <h5 class="mont-semi">MENTÖR EŞLİĞİNDE
          ÇOCUKLARLA PRATİK
          (Practicum)</h5>
          <h4 class="mont-regu theme-color mt-2">15 : 00 - 19 : 00</h4>
          <span class="calendar-circle mt-3 mb-3"></span>
        </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4 mt-3">21 HAZİRAN</h3>
        <h3 class="mont-semi">ZİNCİR KURS</h3>
        <h4 class="mont-regu theme-color mt-2">10 : 00 - 13 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
      </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4 mt-3">3 TEMMUZ</h3>
        <h3 class="mont-semi">ZİNCİR KURS</h3>
        <h4 class="mont-regu theme-color mt-2">10 : 00 - 13 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
        <h3 class="maga-bold theme-color mb-4 mt-3">13 HAZİRAN</h3>
        <h5 class="mont-semi">MENTÖR EŞLİĞİNDE
          ÇOCUKLARLA PRATİK
          (Practicum)</h5>
        <h4 class="mont-regu theme-color mt-2">15 : 00 - 19 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
      </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4 mt-3">13 HAZİRAN</h3>
        <h5 class="mont-semi">MENTÖR EŞLİĞİNDE
          ÇOCUKLARLA PRATİK
          (Practicum)</h5>
        <h4 class="mont-regu theme-color mt-2">15 : 00 - 19 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
      </div>
    </div>
  </div>
</section>

<div class="row text-center d-flex align-items-center middle-row">
  <div class="col-12">
      <button class="btn calendar-button kelso-sans" routerLink="/payment" >BAŞVURU YAP</button>
  </div>
</div>

<app-footer></app-footer>