<section class="section" id="calendar">
  <div class="calendar-container">
    <div class="row">
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4 mt-3">13 HAZİRAN</h3>
        <h3 class="mont-semi">ZİNCİR KURS</h3>
        <h4 class="mont-regu theme-color mt-2">10 : 00 - 13 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
        <h3 class="maga-bold theme-color mb-4 mt-3">13 HAZİRAN</h3>
        <h5 class="mont-semi">MENTÖR EŞLİĞİNDE
          ÇOCUKLARLA PRATİK
          (Practicum)</h5>
        <h4 class="mont-regu theme-color mt-2">15 : 00 - 19 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
      </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4 mt-3">13 HAZİRAN</h3>
        <h5 class="mont-semi">MENTÖR EŞLİĞİNDE
          ÇOCUKLARLA PRATİK
          (Practicum)</h5>
          <h4 class="mont-regu theme-color mt-2">15 : 00 - 19 : 00</h4>
          <span class="calendar-circle mt-3 mb-3"></span>
        </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4 mt-3">21 HAZİRAN</h3>
        <h3 class="mont-semi">ZİNCİR KURS</h3>
        <h4 class="mont-regu theme-color mt-2">10 : 00 - 13 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
      </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4 mt-3">3 TEMMUZ</h3>
        <h3 class="mont-semi">ZİNCİR KURS</h3>
        <h4 class="mont-regu theme-color mt-2">10 : 00 - 13 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
        <h3 class="maga-bold theme-color mb-4 mt-3">13 HAZİRAN</h3>
        <h5 class="mont-semi">MENTÖR EŞLİĞİNDE
          ÇOCUKLARLA PRATİK
          (Practicum)</h5>
        <h4 class="mont-regu theme-color mt-2">15 : 00 - 19 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
      </div>
      <div class="block-between"></div>
      <div class="col-12 calendar-col text-center">
        <h3 class="maga-bold theme-color mb-4 mt-3">13 HAZİRAN</h3>
        <h5 class="mont-semi">MENTÖR EŞLİĞİNDE
          ÇOCUKLARLA PRATİK
          (Practicum)</h5>
        <h4 class="mont-regu theme-color mt-2">15 : 00 - 19 : 00</h4>
        <span class="calendar-circle mt-3 mb-3"></span>
      </div>
    </div>

    <div class="row cancel-row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-auto">
            <h3 class="maga-bold mb-2">COVID-19 NEDENİYLE İPTAL EDİLEN KURSLAR</h3>
            <hr class="hr w-100 mt-0">
          </div> 
        </div>
        
        <h4 class="mt-4 common-detail-style theme-color" style="font-weight: bold;">
          28-29 MART
        </h4>
        <h4 class="mt-2 mb-0 common-detail-style">
          Zincir Kurs: Orff-Schulwerk’i Yeniden Keşfet
        </h4>
        <h4 class="mt-1 mb-0 common-detail-style">
          Orff-Schulwerk Çocuklar için Müzik: Prof.Rainer Kotzian
        </h4>
        <h4 class="mt-1 mb-0 common-detail-style">
          Bedenle Diyalog: Ceren Emre Ateş
        </h4>
        <h4 class="mt-1 mb-0 common-detail-style">
          Elementer Müzik Nedir?: Emine Yaprak Kotzian
        </h4>


        <h4 class="mt-5 common-detail-style theme-color" style="font-weight: bold;">
          18-19 NİSAN
        </h4>
        <h4 class="mt-2 mb-0 common-detail-style">
          Zincir Kurs: Orff-Schulwerk’i Yeniden Keşfet
        </h4>
        <h4 class="mt-1 mb-0 common-detail-style">
          Orff-Schulwerk’te Afrika Ruhu: Dr. Polo Vallejo
        </h4>
        <h4 class="mt-1 mb-0 common-detail-style">
          Lalala ile Orff-Schulwerk Orkestrası: Ezo Sunal
        </h4>

        <h4 class="mt-5 common-detail-style theme-color" style="font-weight: bold;">
          6-7 HAZİRAN
        </h4>
        <h4 class="mt-2 mb-0 common-detail-style">
          Zincir Kurs: Orff-Schulwerk’i Yeniden Keşfet
        </h4>
        <h4 class="mt-1 mb-0 common-detail-style">
          Elementer İfade Olanakları ile Müzik: Onur Erol
        </h4>
        <h4 class="mt-1 mb-0 common-detail-style">
          Hareketle Başkalaşım: Ceren Emre Ateş
        </h4>
      </div>
    </div>
  </div>
</section>

<div class="row text-center d-flex align-items-center middle-row">
  <div class="col-12">
      <button class="btn calendar-button kelso-sans" routerLink="/payment" >BAŞVURU YAP</button>
  </div>
</div>

<app-footer></app-footer>