<section class="section" id="sign">
<div class="row m-0">
  <div class="col-12 p-0">
    <h3 class="maga-bold">
      DÜZENLİ - ASIL ÜYELİK FORMU
    </h3>
    <hr class="hr w-100">
  </div>

  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-6 input-container">
        <h5 class="mont-regu">ADI SOYADI:</h5>
      </div>
      <div class="col-lg-6 input-container container-right">
        <h5 class="mont-regu">ANA ADI:</h5>
      </div>
      <div class="col-lg-6 input-container">
        <h5 class="mont-regu">TC KİMLİK NO:</h5>
      </div>
      <div class="col-lg-6 input-container container-right">
        <h5 class="mont-regu">BABA ADI:</h5>
      </div>
      <div class="col-lg-6 input-container">
        <h5 class="mont-regu">SOSYAL MEDYA HESABI:</h5>
      </div>
      <div class="col-lg-6 input-container container-right">
        <h5 class="mont-regu">KAN GRUBU:</h5>
      </div>
      <div class="col-lg-6 input-container">
        <h5 class="mont-regu">MESLEĞİ:</h5>
      </div>
      <div class="col-lg-6 input-container container-right">
        <h5 class="mont-regu">GEÇERLİLİK TARİHİ:</h5>
      </div>
      <div class="col-lg-6 input-container big-container">
        <h5 class="mont-regu">EV ADRESİ:</h5>
      </div>
      <div class="col-lg-6 input-container container-right  big-container">
        <h5 class="mont-regu">İŞ ADRESİ:</h5>
      </div>
      <div class="col-lg-6 input-container big-container">
        <h5 class="mont-regu">MEZUN OLDUĞU OKUL:</h5>
      </div>
      <div class="col-lg-6 input-container container-right  big-container">
        <h5 class="mont-regu">ÖĞRENİM DURUMU:</h5>
      </div>
      <div class="col-lg-6 input-container big-container">
        <div class="row m-0">
          <div class="col-2 p-0">
            <h5 class="mont-regu">NÜFUSA KAYITLI OLDUĞU</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>