<section class="section" id="education">
  <div class="bg-overlay" style="background:  #2e2e35;z-index: -2;"></div>
    <div class="container-fluid" style="padding-left: 6%;padding-right: 6%;">
        <div class="row justify-content-end home-content">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="features-box text-white">
                    <h1>EĞİTİM PROGRAMLARI</h1>
                    <hr class="hr">
                    <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
                      “Schulwerk her asamasında, daima özgür ve kendiliğinden (otonom) bir olusumu ve
                      gelisimi tesvik etmek ister; bu yüzden asla son halini alarak bitmis ve tamamlanmıs
                      degildir, daima gelismektedir, daima olustadır, daima akıstadır. Burada elbette büyük
                      bir tehlike yatmaktadır, yanlıs yönde gelisme tehlikesi. Böyle bir özgür ve kendiliginden
                      olusumun ve gelişimin devam etmesinin önkosulu, kapsamlı bir mesleki egitim ve
                      Schulwerk’ in stili, olanakları ve hedeflerine mutlak asinalıktır.”
                    </h4>
                    <h4>
                      (Carl Orff, Orff-Schulwerk: Geçmiş ve Gelecek, 1963/1964)
                    </h4>
                      <h4 style="font-weight: 100;font-size: 20px;" class="mt-4">
                        Orff ögretmeni, çalıstıgı gruba uygun olarak kendi dersini kendi planlayabilmeli, dersleri
                        için müzik ve dans alanlarında estetik ve sanatsal hedefler belirleyebilmeli ve derslerde
                        çocukları bu hedeflere bilinçli bir bicimde götürebilmelidir. Öte yandan, derslerde
                        kendiliginden ortaya çıkan planlanmamıs durumlara spontane bir biçimde çok yönlü
                        pedagojik çözümler üretebilmelidir. Orff ögretmeni, çocukların farklı bireysel ögrenme
                        sekillerine de açık olmalıdır. Çocukların yeteneklerini, gereksinimlerini, bireysel ve grup
                        olarak ortaya koydukları fikirleri, dogaçlamaları ve yaratıları degerlendirmeli ve bunlara
                        uygun bir karsılık vererek müziksel becerilerinin gelismesine yardım etmelidir. Bu
                        nedenle Orff ögretmeni, Orff-Schulwerk’ in temel pedagojik prensiplerini, ögretim
                        ilkelerini ve kullandıgı metotları iyi bilmeli ve bu bilgileri ders pratigine bilinçli bir
                        bicimde aktarabilmelidir. Diger yandan, sanatın farklı alanlarında deneyim, repertuvar
                        ve en azından minimum uzmanlıga sahip olmalıdır.
                      </h4>
                </div>
            </div>
            <span class="content-circle"></span>
        </div>
    </div>
    <img src="/assets/education-home.png" alt="" class="bg-image">
  </section>