<section class="section" id="aboutContent">
  <div class="about-container">
    <div class="row  justify-content-center mt-3">
      <div class="col-auto">
        <h3 class="maga-bold">YÖNETİM KURULU ÜYELERİ</h3>
        <hr class="hr w-100">
      </div>
    </div>
    <div class="row mt-4">
      <div class="d-none d-lg-block col-lg-1"></div>
      <div class="col-lg-5 card-container card-left">
        <img src="/assets/profil/arsevi.png" alt="img" style="width:197px;">
        <h4 class="mt-2 title maga-light">YÖNETİM KURULU BAŞKANI</h4>
        <h3 class="maga-bold">Arsevi KUŞKAN</h3>
        <hr class="hr2">
        <h4 class="description mt-3 monte-regu common-detail-style">
          {{getComment(comments[0])}}
        </h4>
        <div class="row mt-3">
          <div class="col-12">
            <p class="float-right theme-color detail-button" (click)="comments[0].show = !comments[0].show" [innerText]="comments[0].show ? '-Gizle' : '+Devamı'"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 card-container card-right">
        <img src="/assets/profil/derya.png" alt="img" style="width:197px;">
        <h4 class="mt-2 title maga-light">YÖNETİM KURULU BAŞKAN YARDIMCISI</h4>
        <h3 class="maga-bold">E. Derya ŞAHÖZKAN</h3>
        <hr class="hr2">
        <h4 class="description mt-3 monte-regu common-detail-style">
          {{getComment(comments[1])}}
        </h4>
        <div class="row mt-3">
          <div class="col-12">
            <p class="float-right theme-color detail-button" (click)="comments[1].show = !comments[1].show" [innerText]="comments[1].show ? '-Gizle' : '+Devamı'"></p>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-1"></div>
      <div class="col-lg-4  mt-lg-5 card-container">
        <img src="/assets/profil/devrim.png" alt="img" style="width:197px;">
        <h4 class="mt-2 title maga-light">SAYMAN</h4>
        <h3 class="maga-bold">DEVRİM ARSLAN</h3>
        <hr class="hr2">
        <h4 class="description mt-3 common-detail-style">
          {{getComment(comments[2])}}
        </h4>
        <div class="row mt-3">
          <div class="col-12">
            <p class="float-right theme-color detail-button" (click)="comments[2].show = !comments[2].show" [innerText]="comments[2].show ? '-Gizle' : '+Devamı'"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4  mt-lg-5 card-container">
        <img src="/assets/profil/gorkem.png" alt="img" style="width:197px;">
        <h4 class="mt-2 title maga-light">SAYMAN</h4>
        <h3 class="maga-bold">Görkem YAVUZŞEN</h3>
        <hr class="hr2">
        <h4 class="description mt-3 common-detail-style">
          {{getComment(comments[3])}}
        </h4>
        <div class="row mt-3">
          <div class="col-12">
            <p class="float-right theme-color detail-button" (click)="comments[3].show = !comments[3].show" [innerText]="comments[3].show ? '-Gizle' : '+Devamı'"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4  mt-lg-5 card-container">
        <img src="/assets/profil/emine.png" alt="img" style="width:197px;">
        <h4 class="mt-2 title maga-light">ÜYE</h4>
        <h3 class="maga-bold">Emine YAPRAK KOTZİAN</h3>
        <hr class="hr2">
        <h4 class="description mt-3 common-detail-style">
          {{getComment(comments[4])}}
        </h4>
        <div class="row mt-3">
          <div class="col-12">
            <p class="float-right theme-color detail-button" (click)="comments[4].show = !comments[4].show" [innerText]="comments[4].show ? '-Gizle' : '+Devamı'"></p>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-1"></div>
      <div class="col-lg-5 mt-lg-5 card-container card-left">
        <img src="/assets/profil/onur.png" alt="img" style="width:197px;">
        <h4 class="mt-2 title maga-light">ÜYE</h4>
        <h3 class="maga-bold">Onur EROL</h3>
        <hr class="hr2">
        <h4 class="description mt-3 common-detail-style">
          {{getComment(comments[5])}}
        </h4>
        <div class="row mt-3">
          <div class="col-12">
            <p class="float-right theme-color detail-button" (click)="comments[5].show = !comments[5].show" [innerText]="comments[5].show ? '-Gizle' : '+Devamı'"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 mt-lg-5 card-container card-right">
        <img src="/assets/profil/ezo.png" alt="img" style="width:197px;">
        <h4 class="mt-2 title maga-light">ÜYE</h4>
        <h3 class="maga-bold">Ezo SUNAL</h3>
        <hr class="hr2">
        <h4 class="description mt-3 common-detail-style">
          {{getComment(comments[6])}}
        </h4>
        <div class="row mt-3">
          <div class="col-12">
            <p class="float-right theme-color detail-button" (click)="comments[6].show = !comments[6].show" [innerText]="comments[6].show ? '-Gizle' : '+Devamı'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5" style="padding-left: 6%;padding-right: 6%;">
    <div class="col-lg-4 mt-3 pr-lg-5 text-center">
      <div class="row justify-content-center">
        <div class="col-auto">
          <h3 class="maga-bold">YÖNETİM KURULU YEDEK ÜYELERİ</h3>
          <hr class="hr3 w-100">
        </div>
      </div>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        DİDEM MUTLU KARŞIYAKALI
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        SENEM ÖZYOĞURTCU
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        CEREN EMRE ATEŞ
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        DOÇ.DR. ATİLLA COŞKUN TOKSOY
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        PROF. DR. ALİ ÖZTÜRK
      </h4>
    </div>
    <div class="col-lg-4 mt-5 mt-lg-3 pl-lg-5 pr-lg-5 text-center">
      <div class="row justify-content-center">
        <div class="col-auto">
          <h3 class="maga-bold">DENETİM KURULU ASIL ÜYELERİ</h3>
          <hr class="hr3 w-100">
        </div>
      </div>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        PINAR AKÇA
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        ÖMER ÖZTÜYEN
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        ÖZLEM ÇELİK AYGÜL
      </h4>
    </div>
    <div class="col-lg-4 mt-5 mt-lg-3 pl-lg-5 text-center">
      <div class="row justify-content-center">
        <div class="col-auto">
          <h3 class="maga-bold">DENETİM KURULU YEDEK ÜYELERİ</h3>
          <hr class="hr3 w-100">
        </div>
      </div>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        MURAT AKAR
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        YAREN GÜLŞEN KENAR
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        ARKIN BÜYÜKDUYKULAR
      </h4>
    </div>
    <div class="d-none d-lg-block col-lg-2"></div>
    <div class="col-lg-4 mt-5 mt-lg-4 card-container card-left">
      <div class="row justify-content-center">
        <div class="col-auto">
          <h3 class="maga-bold">DİSİPLİN KURULU ASIL ÜYELERİ</h3>
          <hr class="hr3 w-100">
        </div>
      </div>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        ZEYNEP MELİS MİLLİ
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        DENİZ GÖMEÇ
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        SUNA TURGUT AKYOL
      </h4>
    </div>
    <div class="col-lg-4 mt-5 mt-lg-4 card-container card-right">
      <div class="row justify-content-center">
        <div class="col-auto">
          <h3 class="maga-bold">DİSİPLİN KURULU YEDEK ÜYELERİ</h3>
          <hr class="hr3 w-100">
        </div>
      </div>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        MELTEM NURKAN ACUNER
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        SEZEN ŞEN
      </h4>
      <h4 class="mt-3 mont-regu" style="font-weight: 100;">
        BURAK CEM ŞAHÖZKAN
      </h4>
    </div>
    <div class="d-none d-lg-block col-lg-2"></div>
  </div>
</section>

<div class="row text-center d-flex align-items-center pb-3 middle-row">
  <div class="col-12">
      <h4>Tüzügü görüntülemek için tıklayınız</h4>
      <button class="btn about-button" routerLink="/payment" >TÜZÜK</button>
  </div>
</div>
