<section class="section" id="features" style="min-height: 1400px;">
<div class="bg-overlay" style="background:  #2e2e35;z-index: -2;"></div>
  <div class="container-fluid" style="padding-left: 5%;padding-right: 5%;">
      <div class="row align-items-center" style="z-index: 3;">
          <div class="col-lg-7 order-2 order-lg-1">
              <div class="features-box mt-5 mt-lg-0 text-white">
                  <div class="row">
                      <div class="col-auto">
                        <h1 class="header">ORFF-SCHULWERK</h1>
                        <p class="sub-header">Elementer Müzik ve Hareket Pedagojisi</p>
                        <hr class="hr w-100">
                      </div>
                  </div>
                  <h4 style="font-weight: 100;margin-top: 40px;" class="common-detail-style">Orff-Schulwerk; müzik yapma, hareket etme ve konuşma gibi insanoğlunun yaradılışında olan nitelikleri temel alan bütüncül bir müzik eğitimi yaklaşımıdır. Bu yaklaşım, besteci Carl Orff (1985-1982) ve öğrencisi ve meslektaşı Gunild Keetman (1904-1990) tarafından geliştirilmiştir.</h4>
                    <h4 style="font-weight: 100;" class="mt-4 common-detail-style">Bu yaklaşımda müzik öğretimi, grup olarak ve interaktif ders
                         süreçleri içinde gerçekleşir. Dersler; hedef grubun (farklı yaş grubundan çocuklar, amatör yetişkin
                          müzisyenler ve dansçılar, özel eğitime ihtiyaç duyan çocuklar veya yetişkinler, ebeveyn çocuk grupları
                           gibi) yaşına, eğilimlerine, duygusal, psikomotor, bilişsel, sosyal gelişim düzeyine ve hâlihazırdaki
                            deneyimlerine göre tasarlanır. Ders süreçleri, deneme ve deneyimlemeden doğaçlamaya ve kendi yaratılarını
                             oluşturmaya doğru ilerler. Bu bağlamda:</h4>
                             <div class="row mt-4">
                                <div class="col-lg-6 ul-group">
                                    <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                                        <li class="content">Ortak paydaları ritim olan müzik, konuşma, hareket ve dansı birbirinden ayrılmaz bir bütün olarak ele alarak müzik eğitimine kişinin kendisinden, kendi bedeninden, müzigin fiziksel olarak betimlenmesinden; yani hareketten başlar ve bunu müzikal ifadenin daha ileri safhalarına doğru geliştirmeyi hedefler.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 ul-group">
                                    <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                                        <li class="content">Orff-Schulwerk, çocukların doğuştan sahip olduğu oyun güdüsünü temel alır ve bu güdüyü sabırlı aktiveye, yani alıştırma yapmaya doğru geliştirir. Bu süreci, çalışılan hedef grupların başarabileceği zorluk sınırını aşmamaya veya onları yapabileceklerinden daha azı ile yetinmek zorunda bırakmamaya özen göstererek, basitten zora doğru genişletir.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 ul-group">
                                    <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                                        <li class="content">Ses eğitimi (konuşma, şarkı söyleme), enstrüman çalma, hareket ve dans, kulak eğitimi, müzik teorisi, müzik ve dans kompozisyonu ve elementer tiyatro odaklandığı temel öğrenme alanlarıdır.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 ul-group">
                                    <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                                        <li class="content">Öğrenme alanlarının zenginliği ve kullandığı oyun benzeri, eğlenceli ve hayal gücüne hitap eden aktiviteler farklı düzeyde ve çeşitte beceriye sahip bireylerin bağımsız bir biçimde üretimde bulunmasına ve böylece yaratıcılıklarının ortaya çıkmasına yardımcı olur.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 ul-group">
                                    <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                                        <li class="content">Orff çalgılarının nispeten kolay çalım tekniği, özellikle çocukların ilgisini ve merakını uyandırarak müzik yapma isteklerini arttırır ve aynı zamanda kendi yeteneklerine daha fazla güven duymalarına ve göreceli olarak daha hızlı bir biçimde müzik yapabilmelerine yardım eder.</li>
                                    </ul>
                                </div>
                              </div>
                    <p class="content" style="font-size: 12px;">(Bkz. Emine YAPRAK KOTZİAN, Orff-Schulwerk: Elementer Müzik ve Hareket Pedagojisinin Temelleri, Pan Yayıncılık, 2018) </p>
              </div>
          </div>
          <span class="content-circle"></span>
      </div>
  </div>
  <img src="/assets/content-person.png" alt="" class="bg-image">
</section>