.bg-image{
    width:1000px;position: absolute;right: 0;bottom: 0;opacity: 0.4;
}
.sub-header{
    font-size: 38px;
    font-weight: 100;
}
@media (min-width:750px){
    .hr{
        width: 664px;
        margin-top: 21px;
        margin-left: 0;
        border: 2px solid #F0A017;
        border-radius: 5px;
    }
}
@media (max-width:750px){
    .hr{
        width: 200px;
        margin-top: 21px;
        margin-left: 0;
        border: 2px solid #F0A017;
        border-radius: 5px;
    }
}

ul li{
    color: #fff;
    font-size: 19px;
}

.ul-group{
    z-index: 5;
}

.content-circle{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 135, 0, 1);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 320px;
    bottom: 600px;
}