ul
{
    flex-direction: row;
}

@media (min-width: 992px)
 {
    .payment-col{
        max-width: 18% !important;
    }
    .payment-col-lg{
        max-width: 23% !important;
    }
    .payment-row{
        padding-bottom: 30px;
        padding-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }
}
.payment-row{
    background-color: #E8E8E8;
}

.payment-circle{
    height: 25px;
    width: 25px;
    background-color: #F18918;
    border-radius: 50%;
    display: inline-block;
}

.header-text{
    cursor: pointer;
}

.active{
    color: #F18918;
}