
  <div class="row d-flex align-items-center payment-row">
    <div class="col-12 payment-col">
      <div class="row d-flex align-items-center">
        <div class="col-1 pr-0 pl-0">
          <span class="payment-circle"></span>
        </div>
        <div [class]="selectedCard == 1 ? 'col-10 pr-0 header-text active maga-bold': 'maga-bold col-10 pr-0 header-text'" (click)="setPage(1)">
          ZİNCİR KURS
        </div>
      </div>
    </div>
    <div class="col-12 payment-col-lg">
      <div class="row d-flex align-items-center">
        <div class="col-1 pr-0 pl-0">
          <span class="payment-circle"></span>
        </div>
        <div [class]="selectedCard == 2 ? 'col-10 pr-0 header-text active maga-bold': 'maga-bold col-10 pr-0 header-text'" (click)="setPage(2)">
          MENTOR EŞLİĞİNDE 
          <br>
          ÇOCUKLARLA PRATİK (Practicum)
        </div>
      </div>
    </div>
    <div class="col-12 payment-col">
      <div class="row d-flex align-items-center">
        <div class="col-1 pr-0 pl-0">
          <span class="payment-circle"></span>
        </div>
        <div [class]="selectedCard == 3 ? 'col-10 pr-0 header-text active maga-bold': 'maga-bold col-10 pr-0 header-text'" (click)="setPage(3)">
          MODEL KURSLAR
        </div>
      </div>
    </div>
    <div class="col-12 payment-col-lg">
      <div class="row d-flex align-items-center">
        <div class="col-1 pr-0 pl-0">
          <span class="payment-circle"></span>
        </div>
        <div [class]="selectedCard == 4 ? 'col-10 pr-0 header-text active maga-bold': 'maga-bold col-10 pr-0 header-text'" (click)="setPage(4)">
          ÜÇ AŞAMALI ÖĞRETMEN EĞİTİMİ
          <br>
          SERTİFİKA PROGRAMI 
        </div>
      </div>
    </div>
    <div class="col-12 payment-col">
      <div class="row d-flex align-items-center">
        <div class="col-1 pr-0 pl-0">
          <span class="payment-circle"></span>
        </div>
        <div [class]="selectedCard == 5 ? 'col-10 pr-0 header-text active maga-bold': 'maga-bold col-10 pr-0 header-text'" (click)="setPage(5)">
          PAYLAŞIM GÜNLERİ
        </div>
      </div>
    </div>
  </div>
