<section class="section" id="magazine">
    <div class="row m-0">
      <div class="col-lg-7">
        <div class="w-100">
          <img src="assets/orffdergi.png" alt="img" style="width: 200px;">
        </div>
        <div class="first-step" *ngIf="step == 1">
          <h4 style="font-weight: 100;font-size: 16px;" class="mt-4 mont-regu">
            Orffdergi,  Anadolu Orff-Schulwerk Derneği (ORFFDER) bünyesinde yılda iki defa dijital olarak
            yayımlanacak olan ve alan itibariyle tamamen Orff-Schulwerk - Elementer Müzik ve Hareket
            Pedagojisine odaklanan bir müzik eğitimi dergisidir. Orff-Schulwerk alanındaki temel
            literatürleri, güncel yayınları, ders planlama örneklerini ve dünyadaki Orff-Schulwerk ile ilgili
            gelişmeleri, eğitim ve öğrenim olanaklarını ve Orff-Schulwerk hakkında merak edilen daha bir çok ayrıntıyı kapsamına almaktadır. 
          </h4>
          <h4 style="font-weight: 100;font-size: 16px;" class="mt-4 mont-regu">
            Orffdergi’nin en önemli hedefi, Orff-Schulwerk hakkında dünya standartlarına uygun yayınlar paylaşarak alandaki Türkçe literatür
             ihtiyacını belirli bir düzeyde de olsa gidermek ve böylece alanın öğrenilmesine ve öğretilmesine katkı sunmaktır. Orffdergi´nin editörleri, kökleri eskilere
            dayanan bir ağacın dalları gibi, ağacın ilk filizlendiği andan bugüne kadar olan süreci yansıtmayı, bununla birlikte
             her an gelişmeyi ve güncel kalmayı temel ilke olarak benimsemiştir.
          </h4>
          <h4 style="font-weight: 100;font-size: 16px;" class="mt-4 mont-regu">
            Orffdergi´de hem eskiye saygı duyarak hem de yeni çalışmalara kucak açarak belirlenen konu başlıkları
             ile her sayıda birbirinden farklı renkte ve zenginlikte içerikler yer alacaktır. 
            Hedef kitlesi, Orff-Schulwerk ile ilgilenen müzik öğretmenleri, okul öncesi öğretmenleri,
            öğrenciler ve de akademisyenlerdir. 
          </h4>
  
          <div class="row mt-5 ">
            <div class="col-12">
              <p style="font-weight: 100;font-size: 16px;width:300px;" class="mt-4 mont-regu">
                Orffdergi’yi ücretsiz görüntülemek
                ve farklı avantajlardan yararlanmak için
                <button class="btn magazine-button" routerLink="/payment" >ÜYE OL</button>
              </p>
            </div>
          </div>
        </div>

        <div class="step-two" *ngIf="step==2">
          <h3 class="maga-bold mt-4 mb-0">
            ÖDEME
          </h3>
          <hr class="hr">
          <h4 style="font-weight: 100;font-size: 16px;max-width: 500px;" class="mt-4 mont-regu">
            Aşağıda belirtilen banka hesabımıza ödemenizi gerçekleştirip, dekontunuzu ekledikten sonra başvurunuzu
            tamamlayabilirsiniz.
          </h4>
          <h4 style="font-weight: 100;font-size: 16px;max-width: 500px;" class="mt-4 mont-semi">
            KURSA KATILIM ÜCRETİ
          </h4>
          <h4 style="font-weight: 100;font-size: 16px;max-width: 500px;" class="mt-2 mont-regu">
            <span class="theme-color" style="font-size: 20px;">25,00 ₺</span> (Vergiler Dahil)
          </h4>

          <h4 style="font-weight: 100;font-size: 16px;max-width: 500px;" class="mt-5 mont-semi">
            HAVALE / EFT
          </h4>
          <h4 style="font-weight: 100;font-size: 16px;max-width: 500px;" class="mt-3 mont-regu">
            Garanti Bankası Rumeli Caddesi Şubesi
          </h4>

          <h4 style="font-weight: 100;font-size: 16px;max-width: 500px;" class="mt-3 mont-semi">
            Hesap Adı: <span class="mont-regu ml-2">Anadolu Orff Schulwerk Derneği </span>
          </h4>
          <h4 style="font-weight: 100;font-size: 16px;max-width: 500px;" class="mt-3 mont-semi">
            IBAN: <span class="mont-regu ml-2">TR78 0006 2000 4060 0006 2943 </span>
          </h4>
          <form #f="ngForm" (ngSubmit)="sendForm()" ngNativeValidate>
            <div class="row justify-content-between">
              <div class="col-lg-6 mt-4">
                <div class="row">
                  <div class="col-3 pr-0">
                    <label class="custom-file-upload">
                      <input #receiptInput
                      type="file"
                      accept="/*"
                      (change)="addFile(receiptInput,'receipt')">
                    </label>
                  </div>
                  <div class="col-9 pl-0">
                    <h4 class="mt-3" style="font-weight: 100;">
                      <strong style="font-weight: bold;">DEKONT'U EKLE</strong>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mt-4">
                <button type="submit" class="btn send-button">GÖNDER</button>
              </div>
            </div>
          </form>
          
        </div>
      </div>
      <div class="col-lg-5 pl-lg-5 mt-4">
        <img src="assets/emptydergi.png" alt="img" class="ml-lg-5" style="width: 300px;">

        <h4 *ngIf="step == 1; else infoText" style="font-weight: 100;font-size: 16px;" class="mt-4 mont-regu ml-lg-5"> 
        <span style="background-color: #ffc2d780;
          margin-right: 6px;"> 25,00 ₺
          </span>  (Vergiler Dahil)</h4>
        <ng-template #infoText>
          <h4 style="font-weight: 100;font-size: 16px;max-width: 300px;" class="mt-4 mont-regu ml-lg-5"> 
            Orffder üyesi değilseniz demenizi
            gerçekleştirdikten sonra Orffdergi size mail olarak iletilecektir.
          </h4>
        </ng-template>
        <button *ngIf="step == 1" class="btn magazine-button2  ml-lg-5 mt-3" (click)="step=2">SATIN AL</button>
      </div>
    </div>
</section>